<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.realtimebraillescanner">

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/mainicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/mainicon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RealTimeBrailleScanner"
        tools:targetApi="31">
		<activity
            android:name=".CameraBTHActivity"
            android:exported="false" />
        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="ocr" /> <!-- To use multiple models: android:value="ocr,model2,model3" -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/noActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
		android:theme="@style/noActionBar" />

        <activity
            android:name=".CameraHTBActivity"
            android:exported="true"
            android:theme="@style/noActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:theme="@style/noActionBar" />
        <meta-data
            android:name="com.google.ml.vision.DEPENDENCIES"
            android:value="ocr" />
    </application>

</manifest>